<!DOCTYPE html>

<html>
  <body>
      <form action= "/named-cat" method="post">
        <div>
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </div>
      </form>
  </body>
</html>
