<!DOCTYPE html>

<html>
  <head>
    <title>Cat Pic</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <% if @name %>
    <h1>
      My name is <%=@name%>
    </h1>
    <%else%>
      <form action= "/named-cat">
        <div>
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </div>
      </form>
    <%end%>
    <div>

     <img src="http://bit.ly/1eze8aE" alt="kitty" style='border: 3px dashed red'>
   </div>
  </body>

</html>
