<!DOCTYPE html>

<html>
  <head>
    <title>Cat Pic</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div>
     <img src="http://bit.ly/1eze8aE" alt="kitty" style='border: 3px dashed red'>
   </div>
  </body>

</html>
